## Deliverable 2. Create a Customer Travel Destinations Map.

In [27]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rikitea,PF,-23.1203,-134.9692,76.24,74,2,18.03,light rain
1,1,Georgetown,MY,5.4112,100.3354,79.90,87,40,3.44,scattered clouds
2,2,Cherskiy,RU,68.7500,161.3000,-34.65,100,62,4.07,broken clouds
3,3,Misratah,LY,32.3754,15.0925,57.24,52,0,13.49,clear sky
4,4,Tura,IN,25.5198,90.2201,72.70,54,10,2.39,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rikitea,PF,-23.1203,-134.9692,76.24,74,2,18.03,light rain
1,1,Georgetown,MY,5.4112,100.3354,79.90,87,40,3.44,scattered clouds
4,4,Tura,IN,25.5198,90.2201,72.70,54,10,2.39,clear sky
6,6,Gogrial,SS,8.5332,28.1004,76.48,65,82,4.41,broken clouds
7,7,Butaritari,KI,3.0707,172.7902,82.27,76,72,11.83,broken clouds
8,8,Busselton,AU,-33.6500,115.3333,72.09,36,6,4.76,clear sky
10,10,Vaini,TO,-21.2000,-175.2000,84.36,84,20,9.22,few clouds
14,14,Tulum,MX,20.2167,-87.4667,74.93,93,26,2.21,scattered clouds
17,17,Kapaa,US,22.0752,-159.3190,82.38,76,75,1.99,light rain
21,21,Harper,LR,4.3750,-7.7169,78.62,83,47,6.06,light rain

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count(
)

City_ID                221
City                   221
Country                220
Lat                    221
Lng                    221
Max Temp               221
Humidity               221
Cloudiness             221
Wind Speed             221
Current Description    221
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
# Filter the dataset to find the cities that fit the criteria.
clean_df=preferred_cities_df.dropna()
clean_df.count()

City_ID                220
City                   220
Country                220
Lat                    220
Lng                    220
Max Temp               220
Humidity               220
Cloudiness             220
Wind Speed             220
Current Description    220
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Rikitea,PF,76.24,light rain,-23.1203,-134.9692,
1,Georgetown,MY,79.90,scattered clouds,5.4112,100.3354,
4,Tura,IN,72.70,clear sky,25.5198,90.2201,
6,Gogrial,SS,76.48,broken clouds,8.5332,28.1004,
7,Butaritari,KI,82.27,broken clouds,3.0707,172.7902,
8,Busselton,AU,72.09,clear sky,-33.6500,115.3333,
10,Vaini,TO,84.36,few clouds,-21.2000,-175.2000,
14,Tulum,MX,74.93,scattered clouds,20.2167,-87.4667,
17,Kapaa,US,82.38,light rain,22.0752,-159.3190,
21,Harper,LR,78.62,light rain,4.3750,-7.7169,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    lat=row["Lat"]
    lng=row["Lng"]
    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
        
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [35]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df['Hotel Name'].replace('', np.nan, inplace=True)
clean_hotel_df=hotel_df.dropna()
clean_hotel_df.count()

City                   202
Country                202
Max Temp               202
Current Description    202
Lat                    202
Lng                    202
Hotel Name             202
dtype: int64

In [37]:
# 8a. Create the output File (CSV)
output_data_file='WeatherPy_vacation.csv'
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [58]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt><b>Hotel Name</b></dt><dd>{Hotel Name}</dd>
<dt><b>City</b></dt><dd>{City}</dd>
<dt><b>Country</b></dt><dd>{Country}</dd>
<dt><b>Current Weather</b></dt><dd>{Current Description}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [59]:
# 11a. Add a marker layer for each city to the map. 
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))